.btn{
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary{
    color: var(--secondary-color);
    border: 1px solid var(--tertiary-color);
    background: linear-gradient(0deg, var(--tertiary-color), var(--tertiary-color)) no-repeat left bottom / 100% var(--bg-h);
    transition: background-size 0.35s, color 0.35s ease-in-out;
    --bg-h: 100%;
}

.btn--outline {
    color: var(--tertiary-color);
    padding : 8px 20px;
    border: 1px solid var(--tertiary-color);
    background: linear-gradient(0deg, var(--tertiary-color), var(--tertiary-color)) no-repeat left bottom / 0 var(--bg-h);
    transition: background-size 0.35s, color 0.35s ease-in-out;
    --bg-h: 100%;
}


.btn--medium{
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large{
    padding: 12px 26px;
    font-size: 20px;
}

.btn--outline:hover,
.btn--outline:focus-visible{
    background-size: 100% var(--bg-h);
    color:var(--secondary-color);
}

.btn--primary:hover,
.btn--primary:focus-visible{
    background-size: 0% var(--bg-h);
    color : var(--tertiary-color);
}