.career {
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.career h1 {
    font-size: 2.5rem;
    color: var(--color-on-tertiary);
    margin-bottom: 2rem;
}

.bar__career {
    height: 8vw;
    width: 100%;
    margin: -4vw 0px -4vw 0px;
    transform: rotate(-4deg) scale(1.2, 1);
    background-color: var(--background-tertiary-color);
}


.career{
    --len-arrow: 130rem;
    --space-between-career: -2rem;
}
/* Arrow */

.career .light{
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.middle__bar__arrow.light {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.25);
}

body.dark .light {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.2);
}

body.dark .middle__bar__arrow.light {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.15);
}

.middle__bar__arrow {
    margin-top: 15rem;
    left: calc(50% - 1rem);
    width: 2rem;
    height: var(--len-arrow);
    background-color: var(--background-secondary-color);
    position: absolute;
    z-index: 10;
}

.right__side__arrow {
    margin-top: 10.5rem;
    left: calc(50% + 6.20rem);
    width: 2rem;
    height: 11rem;
    background-color: var(--background-secondary-color);
    position: absolute;
    transform: rotate(-45deg);
    transform-origin: bottom center;
    z-index: 10;
}

.left__side__arrow {
    margin-top: 10.5rem;
    left: calc(50% - 7.95rem);
    width: 2rem;
    height: 11rem;
    background-color: var(--background-secondary-color);
    position: absolute;
    transform: rotate(45deg);
    transform-origin: bottom center;
    z-index: 10;
}

.start__round__arrow {
    margin-top: calc(var(--len-arrow) + 12rem);
    left: calc(50% - 2rem);
    width: 4rem;
    aspect-ratio: 1;
    background-color: var(--background-secondary-color);
    position: absolute;
    border-radius: 50%;
    z-index: 10;
}

@media screen and (max-width: 960px) {
    .career{
        --len-arrow: 178rem;
    }

    .middle__bar__arrow {
        width: 3rem;
        left: -1.5rem;
    }

    .right__side__arrow {
        width: 2rem;
        left: 4rem ;
        margin-top: 10.5rem;
        height: 8rem;
    }

    .left__side__arrow {
        left: -100%;
    }

    .start__round__arrow {
        left: -2rem;
        width: 4rem;
    }
}

@media screen and (max-width: 550px) {
    .start__round__arrow, .left__side__arrow, .right__side__arrow, .middle__bar__arrow {
        display: none;
    }
}

/* End Arrow */

/* Career Container */

.career__container {
    width: 100%;
    padding: 4rem;
    padding-left: 6rem;
    padding-bottom: 0;
    display: flex;
    flex-flow: column;
    max-width: 1120px;
    font-size: 17px;
}

.career__item {
    width: 21rem;
    border-radius: 10px;
    background-color: var(--background-secondary-color);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.25);
    color: var(--tertiary-color);
    z-index: 3;
}

body.dark .career__item {
    box-shadow: 0 0 20px 10px rgba(245, 245, 245, 0.15);
}

.career__container .img__container {
    float: left;
    position: relative;
    left: -2rem;
    top: -2rem;
    max-width: 16rem;
    max-height: 12rem;
    overflow: visible;
}

.career__container .img__container img {
    border-radius: 10px;
    max-width: 16rem;
    max-height: 12rem;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    position: relative;
    transition: all 0.5s ease-in-out;
}

/* If on desktop*/
@media screen and (min-width: 960px) {
    .career__container .career__item:hover img {
        top: -2rem;
        left: -2rem;
        transform: scale(1.13);
        box-shadow: 2rem 2rem 20px 10px rgba(0, 0, 0, 0.3);
        transition: all 0.5s ease-in-out;
    }
}

/* If on mobile*/
@media screen and (max-width: 960px) {
    /*Allow to unclick the hover effect*/
    .career__container .career__item.clicked:hover img{
        top: -2rem;
        left: -2rem;
        transform: scale(1.13);
        box-shadow: 2rem 2rem 20px 10px rgba(0, 0, 0, 0.3);
        transition: all 0.5s ease-in-out;
    }

    
        .career__container {
            padding-bottom: 4rem;
        }
}



.career__text {
    padding-top: 2rem;
    padding-left: 2rem;
}

.career_caption {
    color: var(--color-on-secondary);
    left: -1rem;
    top: -1rem;
    position: relative;
}

.career__date {
    width: 100%;
    text-align: right;
    padding-top: 0.5rem;
}

.career__wrapper {
    width: 100%;
    display: flex;
    position: relative;
}

.wrapper__career__right {
    flex-direction: row-reverse;
}

.wrapper__career__left {
    flex-direction: row;
}

/* Ugly fix */
.career__wrapper:nth-child(2) {
    top: var(--space-between-career);
}
.career__wrapper:nth-child(3) {
    top: calc(var(--space-between-career) * 2);
}
.career__wrapper:nth-child(4) {
    top: calc(var(--space-between-career) * 3);
}
.career__wrapper:nth-child(5) {
    top: calc(var(--space-between-career) * 4);
}
.career__wrapper:nth-child(6) {
    top: calc(var(--space-between-career) * 5);
}
.career__wrapper:nth-child(7) {
    top: calc(var(--space-between-career) * 6);
}
.career__wrapper:nth-child(8) {
    top: calc(var(--space-between-career) * 7);
}
.career__wrapper:nth-child(9) {
    top: calc(var(--space-between-career) * 8);
}
.career__wrapper:nth-child(10) {
    top: calc(var(--space-between-career) * 9);
}


@media screen and (max-width: 960px) {
    .career__wrapper {
        top: 0 !important;
        margin-top: 3rem;
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (max-width: 550px) {
    .career__item {
        width: auto;
    }

    .career__container{
        padding:2rem 2rem 6rem 4rem;
    }
}

@media screen and (max-width: 420px) {
    .career__item{
        display: flex;
        flex-direction: column;
    }
    .career__text{
        padding-top: 0;
    }
}

