.career{
    height: 150vh;
    background-color: var(--tertiary-color);
}

.career h1{
    font-size: 2.5rem;
    color: var(--secondary-color);
    margin-bottom: 2rem;
    padding-top: 4rem
}

.bar__career{
    height: 8vw;
    width: 100%;
    margin: -4vw 0px -4vw 0px;
    transform: rotate(-4deg) scale(1.2, 1);
    background-color: var(--secondary-color);
}

.middle__bar__arrow{
    margin-top: 40vh;
    left: 49%;
    width: 2%;
    height: 90vh;
    background-color: var(--secondary-color);
    position: absolute;
}

.right__side__arrow{
    margin-top: 112vh;
    left: 48.3%;
    width: 2%;
    height: 20vh;
    background-color: var(--secondary-color);
    position: absolute;
    transform: rotate(45deg);
    transform-origin: bottom center;
}

.left__side__arrow{
    margin-top: 112vh;
    left: 49.7%;
    width: 2%;
    height: 20vh;
    background-color: var(--secondary-color);
    position: absolute;
    transform: rotate(-45deg);
    transform-origin: bottom center;
}

.start__round__arrow{
    margin-top: 39vh;
    left: 48%;
    width: 4%;
    aspect-ratio:1;
    background-color: var(--secondary-color);
    position: absolute;
    border-radius: 50%;
}