.contact{
    /*background: url('/public/images/img-cliff.jpg') center center/cover no-repeat;*/
    background-color: var(--tertiary-color);
    height : 60vh;
    width: 100%;
}

.contact h1{
    font-size: 3rem;
    color: #242424;
    text-align: center;
    padding-top: 3rem;
    text-shadow: var(--tertiary-color) 0px 0px 2px;
}

.contact__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 4rem;
}

.contact__item__link{
    list-style: none;
    margin-bottom: 1rem;
    width: 6rem;
    height: 6rem;
    background-color: var(--tertiary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    margin: 1rem 2rem;
    box-shadow: 0 6px 20px rgba(22, 23, 25, 0.95);
}

.contact__item__link{
    color: #242424;
    font-size: 2rem;
    text-decoration: none;
}

.contact__item__link:hover{
    background-color: #242424;
    color: var(--tertiary-color);
    transition: all 0.3s ease-out;
}

.fa-solid {
    margin-left : 0rem;
}

.bar__contact{
    height: 8vw;
    width: 100%;
    margin: -4vw 0px -4vw 0px;
    transform: rotate(-4deg) scale(1.2, 1);
    background-color: var(--secondary-color);
}

@media only screen and (max-width: 400px) {
    .contact{
        height: 100vh;
    }
    .contact__container{
        flex-direction: column;
    }
}

@media screen and (max-width: 960px) {
    .contact{
        height: 80vh;
    }
}