.dark-mode-toggle{
    /*big wide picture that shows only half, either the sun at right, or when click the moon at left*/
    background: url('/public/images/toggle-dark-mode.jpg') right center/cover no-repeat;
    width: 4rem;
    height: 4rem;
    border-radius: 1.2rem;
    margin-left: 1rem;
    border: 3px solid #000 ;
    text-align: center;
    font-size: 18px;
    top:50px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.dark-mode-toggle__container{
    position: absolute;
    top: calc(80px + 10px);
    right: 10px;
}


body.dark .dark-mode-toggle{
    border-color: #fff;
    background: url('/public/images/toggle-dark-mode.jpg') left center/cover no-repeat;
}
