.footer{
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    padding: 2rem 2rem;
    text-align: center;
}

.footer__section{
    display: flex;
    justify-content: space-between;
    padding: 2rem 6rem;
}

.footer__link{
    color: var(--tertiary-color);
    text-decoration: none;
    text-align: center;
    background: linear-gradient(0deg, var(--tertiary-color), var(--tertiary-color)) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 0.35s, color 0.35s ease-in-out;
    --bg-h: 100%;
}


.footer__link:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
    color:var(--secondary-color);
}

@media only screen and (max-width: 1024px) {
    .footer__section {
        flex-direction: column;
        padding: 0rem 2rem;
    }

    .footer__link {
        margin-bottom: 1rem;
    }
}