.skills h1{
    font-size: 2.5rem;
    color: var(--color-on-secondary);
    margin-bottom: 2rem;
}
.skills{
    background: var(--background-secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills__container{
    width: 100%;
    padding: 4rem;
    padding-bottom: 10rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1120px;
    color: var(--color-on-secondary);
}

.bar__skills{
    height: 8vw;
    width: 100%;
    margin: -4vw 0px -4vw 0px;
    transform: rotate(-4deg) scale(1.2, 1);
    background-color: var(--background-secondary-color);
}

.skill__img{
    display: block;
    width: 100%;
    max-width: 60%;
    height: 100%;
    max-height: 60%;
}

.skill .img__container{
    width: 6rem;
    height: 6rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.17);
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    margin: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-30deg) skew(25deg) scale(.8);
    transition: 0.5s;
    overflow: visible;
}

body.dark .skill .img__container{
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.15);
}

.skill{
    color : var(--tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
    text-align: center;
}

.skill .img__container img { 
    position: absolute;
    width: 100%;
    transition: 0.5s;
}

.skill .img__container img:nth-child(1){
    filter: blur(10px) brightness(0.5); /* Apply a blurry effect */
    opacity: 0.8; /* Adjust the opacity to your preference */
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.8); /* Add a thick, blurry shadow */
    transition: all 0.5s ease-in-out;
}

.skill .img__container:hover img:nth-child(1){
    /*filter: brightness(0.5);
    transition: all 0.5s ease-in-out;
    */
}

.skill .img__container:hover img:nth-child(5){
    transform: translate(80px, -80px);
    opacity: 1;
}
.skill .img__container:hover img:nth-child(4){
    transform: translate(60px, -60px);
    opacity: .8;
}
.skill .img__container:hover img:nth-child(3){
    transform: translate(40px, -40px);
    opacity: .6;
}
.skill .img__container:hover img:nth-child(2){
    transform: translate(20px, -20px);
    opacity: .4;
}

@media screen and (max-width: 960px) {
    .skills__container{
        padding: 2rem;
    }
    .skill{
        margin: 0;
    }
    .skill .img__container{
        margin: 0 1rem;
    }
}